<!DOCTYPE html>
<html lang="en">

<head>
    <title>Foxx Games Chat Room</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
</head>
<body class= "text-center">
    <div class= "chatwindow">
     <h2>Foxx Games Chat</h2>
     <h2>Room: {{session['room']}}</h2><br>
     <textarea id= "chat" cols= "70" rows="10" placeholder= "No message yet. start one..."></textarea><br>
     <input type="text" id="text" size= "60" placeholder= "Enter yoyr message here"/>
     <button type= "button" id="send" class="btn btn-success">SEND</button><br><br>
     <center> <button type="button" class ="btn btn-danger">Leave this Chat</button></center>
     </div>
</body>
</html>